.sidebar{
    background-color: bisque;
    height: 80vh;
    padding: 10px;
   
}
.menu{
    padding: 10px;
    background-color: rgb(252, 252, 252);
    margin: 10px;
    border-radius: 20px;
}
.button{
    margin-bottom: 20px;
    width: auto;
    border-radius: 10px;
}